body {
    background-color: #f3f0eb;
    color: #3a3a3a;
    font-family: Arial, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    line-height: 1.6;
}

header {
    display: flex;
    justify-content: center; /* Remplacer space-between par center */
    align-items: center;
    margin-bottom: 20px;
    position: relative;
}

h1 {
    color: #8265a7;
    margin: 0;
    text-align: center;
}

.theme-toggle {
    cursor: pointer;
    padding: 8px;
    position: absolute; /* Positionne l'icône de thème absolument */
    right: 0; /* Place l'icône à droite */
    top: 50%; /* Centre verticalement */
    transform: translateY(-50%); /* Ajustement fin du centrage vertical */
}

.theme-icon {
    font-size: 1.5rem;
    color: #666;
    transition: color 0.3s, transform 0.3s;
}

.theme-icon:hover {
    color: #8265a7;
    transform: rotate(45deg);
}

.connection-info {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
    font-size: 14px;
}

.connection-info span {
    font-weight: bold;
    color: #0066cc;
}

.dark-theme {
    background-color: #403f3f;
    color: #e0e0e0;
}

.dark-theme h1 {
    color: #cfc1ff;
}

.dark-theme .theme-icon {
    color: #cfc1ff;
}

.dark-theme .theme-icon:hover {
    color: #ffffff;
}