.tabs {
    display: flex;
    border-bottom: 2px solid #0a4c5a;
    margin-bottom: 20px;
}

.tab {
    background-color: #f3e8ff;
    border-color: #dec8f0;
    color: #5a4e7c;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #ddd;
    border-bottom: none;
    margin-right: 5px;
    border-radius: 5px 5px 0 0;
    font-weight: bold;
    color: #333;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
}

.tab:hover {
    background-color: #e9dbff;
}

.tab.active {
    background-color: #bfa2db;
    border-color: #bfa2db;
    color: white;
}

/* Style pour l'icône d'exécution */
.execute-icon {
    margin-left: 8px;
    color: #ff7b8a;
    font-size: 1.2em;
    cursor: pointer;
    transition: all 0.3s;
}

.execute-icon:hover {
    color: #ff4757;
    transform: scale(1.2);
}

/* Ajouter une animation lorsque l'icône est cliquée */
.execute-icon:active {
    transform: scale(0.9);
}

.tab-content {
    display: none;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 0 0 5px 5px;
}

.tab-content.active {
    display: block;
}


.dark-theme .tab {
    background-color: #2a2a2a;
    color: #ccc;
    border-color: #444;
}
.dark-theme .tab.active {
    background-color: #101067;
    color: white;
}

.dark-theme .execute-icon {
    color: #ff9caa;
}

.dark-theme .execute-icon:hover {
    color: #ff7b89;
}