.tabs {
    display: flex;
    border-bottom: 2px solid #0a4c5a;
    margin-bottom: 20px;
}

.tab {
    background-color: #f3e8ff;
    border-color: #dec8f0;
    color: #5a4e7c;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #ddd;
    border-bottom: none;
    margin-right: 5px;
    border-radius: 5px 5px 0 0;
    font-weight: bold;
    color: #333;
    transition: all 0.3s ease;
}

.tab:hover {
    background-color: #e9dbff;
}

.tab.active {
    background-color: #bfa2db;
    border-color: #bfa2db;
    color: white;
}

.tab-content {
    display: none;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 0 0 5px 5px;
}

.tab-content.active {
    display: block;
}


.dark-theme .tab {
    background-color: #2a2a2a;
    color: #ccc;
    border-color: #444;
}
.dark-theme .tab.active {
    background-color: #101067;
    color: white;
}